<div class="row">
    <div class="large-12 columns">
    	<form role="form">
    		<div class="form-group">
		        {{view Ember.TextField valueBinding="postTitle" placeholder="Post Title" class="form-control"}}
		    </div>
		    <div class="form-group">
		        {{view Ember.TextArea valueBinding="postContent" placeholder="Write something here..." class="form-control"}}
		    </div>
		</form>
        <button {{action "publishPost"}}>Publish Post</button>
    </div>
</div>