* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

$mint: #6fe0b2;
$coral: #e97770;
@mixin box-shadow($shadows...) {
	box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
}

nav { 
	width: 100%;
	height: 60px;
	background: rgba(255,255,255,0.95);
	border-top: 1px solid #6fe0b2;
	border-bottom: 1px solid #eee;
	padding: 0px 20px 0px 20px;
	color: #666;
	//position: fixed;
	z-index: 1000;
	@include box-shadow(0px 0px 5px rgba(0,0,0,0.20));
	
	.brand {
		float: left;
		line-height: 60px;
		font-size: 24px;
		color: $mint;
	}
}

.index {
	.post {
		margin-bottom: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid #6fe0b2;
		
		h2 {
			margin-bottom: 0;
		}
		
		.content {
			line-height: 1.5em;
		}
	}
}

// Mixins

